.logo {
  width: 60px;
  margin: 3px;
}

.text {
  display: inline-block;
  font-size: 20px;
}

.content {
  list-style-type: none;
  margin: 5px;
  color: white;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
}
.content1 {
  list-style-type: none;
  margin: 5px;
  color:black;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.cardtext{
  font-size: 20px;
  font-weight: bold;
}

.content:hover {
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.2);
  color: black;
}
.cards{
  display: flex;
  justify-content: space-evenly;
  margin-left: 30px;
}

.navtext {
  display: flex;
  justify-content: flex-end;
  margin-top: -45px;
  padding: 10px;
}
.navcolor{
  background: #aaa0ad;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.background{
  background-image: url('./Images/back1.jpg');
  background-size: cover;
  width: 100%;
  height:110vh;
  margin-left: 2px;
}
@media only screen and (max-width: 600px) {
  .navtext {
    margin-top: 10px;
    margin-right: 60px;
  }
  .imag {
    margin-right: 250px;
  }
  .clg {
    margin-right: 100px;
  }
  .head {
    position: absolute;
    margin-top: 50px;
    margin-left: 68px;
  }
}
@media only screen and (max-width: 580px) {
  .navtext {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 14px;
  }
  .ant-input {
    width: 250px !important;
  }
  .clg {
    margin-right: 10px;
  }
  .imag {
    margin-right: 250px;
  }
}
